<nav class="white navbar-fixed" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo waves-effect waves-light"
         style="color:black;"><i class="ion-social-python"></i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/blog" style="color:black;"
               class="waves-effect waves-light">blog</a>
        </li><li><a href="https://github.com/nishowsan/" style="color:black;"
               class="waves-effect waves-light"><i class="ion-social-github"></i></a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav" style="transform: translateX(-100%);">
        <li><a href="/blog" style="color:black;"
            class="waves-effect waves-light">Blog</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i
              class="waves-effect waves-light dropdown-button " data-activates='dropdown1' href="#" style="color:black;"><i class="ion-android-apps"></i></i></a>
      <ul id='dropdown1' class='dropdown-content'>
          <li><a href="/">Home</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="https://github.com/nishowsan/">Github</a></li>
        </ul>
    </div>
  </nav>