<style type="text/css">
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
</style>
<footer class="page-footer teal">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Blog</h5>
                <p class="grey-text text-lighten-4">
                    This app is an example of the web framework django which is based on python</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="/">Home</a></li>
                  <li><a class="grey-text text-lighten-3" href="/blog">Blog</a></li>
                  <li><a class="grey-text text-lighten-3" href="/about">About</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 Copyright Python
            <a class="grey-text text-lighten-4 right" href="http://www.heroku.com">Heroku</a>
            </div>
          </div>
 </footer>