<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    {% include 'extender-link.html' %}
</head>
<body>
    {% include 'extender-nav.html' %}
    <br><br>
    <div class="container">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquid architecto cumque dignissimos earum illo inventore ipsum laudantium minus, necessitatibus numquam quam quia, saepe tempore ut. Eaque sequi totam vitae.</p>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias atque autem beatae deserunt, distinctio dolorem expedita facere laboriosam, minima natus perferendis quasi repellendus sunt tempore totam. Aperiam assumenda magnam quos.</p>
    </div>
    <br><br>
    <br><br><br><br><br><br>
    {% include 'extender-footer.html' %}
</body>
</html>